#signature {
    font-family: 'Homemade Apple', cursive;
}

body {
    background-image: url("images/plate-bkgrnd.jpeg");
    background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: "100px";
}